/* 头1开始 */
.breadcrumbs{
	width: 100%;
	height: 40px;
	background: #f5f5f5;
}
.breadcrumbs .container{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.breadcrumbs .container div{
	float: left;
	line-height: 40px;
	color: #757575;
	font-size: 12px;
	cursor: pointer;
}
.breadcrumbs .container div:nth-child(2n){
	margin: 0 6px;
}
.breadcrumbs .container div:nth-child(2n+1):hover{
	color: #424242;
}
/* 头1结束 */
/* 头2开始 */
.quanbu{
	width: 100%;
	height: 81px;
	background: #fff;
}
.quanbu .container{
	width: 1226px;
	height: 81px;
	margin: 0 auto;
	padding: 18px 0;
	box-sizing: border-box;
}
.quanbu .container .filter{
	width: 1226px;
	height: 45px;
}
.quanbu .container .filter div{
	width: 172px;
	height: 45px;
	padding: 12px 0;
	float: left;
	font-size: 14px;
}
.quanbu .container .filter .fenlei{
	width: 72px;
	height: 21px;
	color: #b0b0b0;
}
.quanbu .container .filter .quanbu-t{
	color: #424242;
	cursor: pointer;
}
.quanbu .container .filter .quanbu-t:hover{
	color: #FF6700;
}
.quanbu .container .filter .tizhong{
	color: #FF6700;
}
/* 头2结束 */
/* 中间开始 */
.content{
	width: 100%;
	height: 624px;
	padding: 20px 0 100px;
    background: #f5f5f5;
}
.content .container{
	width: 1226px;
	height: 504px;
	margin: 0 auto;
}
.content .container .order-list-box{
	width: 1226px;
	height: 20px;
	margin: 0 auto;
	margin: 20px 0;
}
.content .container .order-list-box .order-list{
	width: 372.89px;
	height: 20px;
	float: left;
}
.content .container .order-list-box .order-list>li{
	height: 20px;
	float: left;
	color: #424242;
	font-size: 14px;
	padding: 0 30px;
    border-left: 0.5px solid #e0e0e0;
	border-right: 0.5px solid #e0e0e0;
    line-height: 20px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.2s;
}
.content .container .order-list-box .order-list>li:hover{
	color: #FF6700;
}
.content .container .order-list-box .order-list .active-first{
	color: #FF6700;
	padding: 0 30px 0 0;
	border-left: 0 ;
}
.content .container .order-list-box .order-list .zuihou{
	border-right: 0 ;
}
.content .container .order-list-box .type-list{
	width: 470px;
	height: 20px;
	float: right;
}
.content .container .order-list-box .type-list>li{
	float: left;
	margin-left: 30px;
	color: #424242;
	cursor:pointer;
	transition: all 0.2s;
	line-height: 18px;
}
.content .container .order-list-box .type-list>li:hover{
	color: #FF6700;
}
.content .container .order-list-box .type-list>li span{
	display: inline-block;
	width: 18px;
    height: 18px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
	margin-right: 8px;
	box-sizing: border-box;
	line-height: 20px;
}
.content .container .goods-list-box{
	width: 1226px;
	height: 444px;
	margin: 0 auto;
}
.content .container .goods-list-box>ul>li{
	width: 296px;
	height: 383px;
	background: #fff;
	float: left;
	padding-top: 47px;
    margin-right: 14px;
    margin-bottom: 14px;
    text-align: center;
	position: relative;
	transition: all 0.5s;
}
.content .container .goods-list-box>ul>li:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.content .container .goods-list-box>ul>li .btn-like{
	position: absolute;
	top: 20px;
	left: 20px;
	height: 24px;
	padding: 3px 4px;
	font-size: 12px;
	color: #424242;
	line-height: 24px;
}
.content .container .goods-list-box>ul>li .btn-like .iconfont{
	font-size: 24px;
	line-height: 24px;
	display: none;
	transition: all 0.2s;
}

.content .container .goods-list-box>ul>li .btn-like span:hover{
	display: block;
}
.content .container .goods-list-box>ul>li .btn-buy{
	position: absolute;
	top: 20px;
	right: 20px;
	height: 24px;
	padding: 3px 4px;
	font-size: 12px;
	color: #424242;
	line-height: 24px;
}
.content .container .goods-list-box>ul>li .btn-buy .iconfont{
	font-size: 24px;
	line-height: 24px;
	display: none;
	transition: all 0.2s;
}
.content .container .goods-list-box>ul>li:hover .iconfont{
	display:block;
}
.content .container .goods-list-box>ul>li .btn-like span{
	display: none;
}
.content .container .goods-list-box>ul>li .btn-buy span:hover{
	display: block;
}
.content .container .goods-list-box>ul>li .btn-buy span{
	display: none;
}

.content .container .goods-list-box>ul>li .ticheng{
	width: 200px;
	height: 200px;
}
.content .container .goods-list-box>ul>li .desc{
	margin: 0 0 3px;
    height: 18px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.content .container .goods-list-box>ul>li .title{
	margin: 0 0 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.content .container .goods-list-box>ul>li .price{
	margin: 0 0 15px;
	color: #FF6700;
}
.content .container .goods-list-box>ul>li .price del{
	color: #b0b0b0;
}
.content .container .goods-list-box>ul>li .thumbs{
	width: 100%;
	height: 36px;
	overflow: hidden;
}
.content .container .goods-list-box>ul>li .thumbs>ul>li{
	display: inline-block;
    width: 34px;
    height: 34px;
    margin: 0 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
	transition: all 0.2s;
}
.content .container .goods-list-box>ul>li .thumbs>ul>li:hover{
	border: 1px solid #ff6700;
}
.content .container .goods-list-box>ul>li .flags{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 40px;
    font-size: 12px;
    text-align: left;
    overflow: hidden;
}
.content .container .goods-list-box>ul>li .flags .flags-saleoff{
	height: 18px;
    padding: 1px 20px;
    color: #fff;
	background: #e53935;
}
.content .container .goods-list-box>ul>li .flags .flags-gift{
	height: 18px;
	padding: 1px 20px;
	color: #fff;
	background: #2196f3;
}
/* 中间结束 */
/* 底部上开始 */
.content1{
	width: 100%;
	height: 461px;
	background: #f5f5f5;
	padding: 20px 0 100px;
	position: relative;
}
.content1 .container{
	width: 1226px;
	height: 461px;
	margin: 0 auto;
}
.content1 .container .con-zong{
	width: 1226px;
	height: 51px;
	background: #f5f5f5;
	float: right;
	margin: 0 auto;
}
.content1 .container .con-zong .line1{
    width: 370px;
	height: 50px;
    color: #757575;
    border-top: 1px solid #e0e0e0;
	float: left;
}
.content1 .container .con-zong .con-text{
    width: 482px;
	height: 40px;
    line-height: 40px;
    text-align: center;
	position: absolute;
    top: 0;
    left: 372px;
    background-color: #f5f5f5;
	font-size: 30px;
	color: #757575;
}
.content1 .container .con-zong .line2{
	width: 370px;
	height: 50px;
	color: #757575;
	border-top: 1px solid #e0e0e0;
	float: right;
}
.content1 .container .con-xia{
	width: 100%;
	height: 314px;
	overflow: hidden;
}
.content1 .container .con-xia .ping>ul {
 	width: calc(1226px * 3);
 	height: 314px;
 }
.content1 .container .con-xia .ping>ul>li {
 	width: 234px;
 	height: 100%;
 	margin-left: 14px;
 	background: #fff;
 	float: left;
 	text-align: center;
	transition: all 0.1s;
 }
.content1 .container .con-xia .ping>ul>li:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 20px 2px rgba(0,0,0,0.1);
}
.content1 .container .con-xia .ping .ping-sp {
 	margin: 0;
 }

.content1 .container .con-xia .ping>ul>li>img {
 	padding: 40px 0 15px;
 }

.content1 .container .con-xia .ping>ul>li .sp-z1 {
 	margin-bottom: 17px;
 	font-size: 14px;
 	color: #333;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	white-space: nowrap;
 }

.content1 .container .con-xia .ping>ul>li .sp-z2 {
 	margin:10px 0;
 	font-size: 12px;
 	color: #ff6700;
 }

.content1 .container .con-xia .ping>ul>li .sp-z3 {
 	font-size: 12px;
 	color: #757575;
 }
/* .content1 .container .pagers>ul>li{
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 0 2px;
    cursor: pointer;
	float: left;
	text-align: center;
	background: #b0b0b0;
}
.content1 .container .pagers>ul>li .yuan{
	width: 6px;
	height: 6px;
    border-radius: 50%;
	background: #b0b0b0;
} */
.content1 .container .xm-pagers {
  	width: 1226px;
  	height: 30px;
	margin:0 auto;
 }
.content1 .container .xm-pagers>div{
    cursor: pointer;
	float: left;
	margin:30px 0 0 593px;
 }
.content1 .container .xm-pagers>div>.active{
	cursor: default;
	border: 2px solid #FF6700;
	background: #f5f5f5;
 }
.content1 .container .xm-pagers>div>div{
	width: 6px;
    height: 6px;
    border: 2px solid #f5f5f5;
    border-radius: 6px;
	float: left;
	margin-left: 30px;
	transition: all 0.3s;
	background: #b0b0b0;
 }
.content1 .container .xm-pagers>div>div:hover{
	background: #FF6700;
 }
/* 底部上结束 */