/* 头部开始 */
 .head {
 	width: 100%;
 	height: 40px;
 	background: #333;
 }

 .head-con {
 	width: 1226px;
 	height: 100%;
 	margin: 0px auto;
 }

 .head-left {
	 width: 800px;
 	height: 100%;
 	float: left;
 }

 .head-right {
	 width: 300px;
 	height: 100%;
 	float: right;
 }

 .head .left-text {
 	height: 100%;
 	font-size: 12px;
 	color: #b0b0b0;
 	line-height: 40px;
 	float: left;
	transition: all 0.02s;
 }
.head .left-text:hover{
	color: #fff;
}
 .left-line {
 	height: 100%;
 	font-size: 14px;
 	color: #423b36;
 	line-height: 40px;
 	float: left;
 	margin: 0px 7px;
 }

 .head .right-text {
 	height: 100%;
 	font-size: 12px;
 	color: #b0b0b0;
 	line-height: 40px;
 	float: left;
	transition: all 0.02s;
 }
.head .right-text:hover{
	color: #fff;
}
 .right-line {
 	height: 100%;
 	font-size: 14px;
 	color: #423b36;
 	line-height: 40px;
 	float: left;
 	margin: 0px 7px;
 }
 .right-car:hover{
	color: #FF6700;
	background: #fff;
}
.right-car:hover .xl-che{
	display: block;
	transform: translateY(97px);
}
 .right-car .xl-che{
	display: none;
    position: absolute;
    right: 0;
    top: -57px;
    width: 316px;
	height: 84px;
    padding: 15px 0 0;
    color: #424242;
	line-height: 85px;
	text-align: center;
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	z-index: 1;
	transition: all 1s 0.02s;
}
 .right-car {
 	width: 120px;
 	height: 100%;
 	font-size: 12px;
 	color: #b0b0b0;
 	text-align: center;
 	line-height: 40px;
 	float: right;
 	background: #424242;
 	margin-left: 25px;
	transition: all 0.3s;
	position: relative;
 }

 /* 头部结束 */
 /* 导航开始 */
 .MI {
 	width: 1226px;
 	height: 100px;
 	margin: 0px auto;
 }

 .MI-left {
 	height: 100%;
 	float: left;
 }

 .MI-right {
 	width: 297px;
 	height: 100%;
 	float: right;
 }

 .MI-left-logo {
 	width: 55px;
 	height: 55px;
 	background: #ff6700;
 	float: left;
 	margin-top: 22.5px;
 	text-align: center;
 	line-height: 55px;
 }

 .MI-left-logo img {
 	margin-top: 3px;
 }

 .MI-left-text {
 	height: 100px;
 	float: left;
 }

 .MI-left-text .xiaowenzi {
 	color: #333;
 	float: left;
 	margin-left: 190px;
 }
  .MI-left-text .xiaowenzi li span:hover{
	color: #FF6700;
}
  .MI-left-text .xiaowenzi li {
	display:block;
 	float: left;
 }
 .MI-left-text span{
	 line-height: 100px;
	 font-size: 16px;
	 padding: 0 10px;
	 cursor: pointer;
	 transition: all 0.2s;
 }
 .MI-left-text .xiaowenzi li span:hover{
 	color: #FF6700;
 }
 .search {
 	width: 50px;
 	height: 48px;
 	float: right;
 	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
 	border-bottom: 1px solid #e0e0e0;
 	margin-top: 25px;
	margin-right: 1px;
 	text-align: center;
	cursor: pointer;
 }
  .search:hover{
	  color: #fff;
	  background: #FF6700;
  }
 .search .iconfont {
 	font-size: 24px;
 	line-height: 48px;
 	margin-top: 13px;
 }
.search-wenben {
 	width: 243px;
 	height: 48px;
 	float: left;
 	border: 1px solid #e0e0e0;
 	margin-top: 25px;
 	position: relative;
 }
 .search-wenben input {
 	width: 243px;
 	height: 48px;
 	box-sizing: border-box;
 	outline: none;
 	padding-left: 20px;
	border: 0;
 }

 .search-ts {
 	height: 24px;
 	position: absolute;
 	right: 10px;
 	top: 0px;
 	bottom: 0px;
 	margin: auto 0;
 }
.search-ts span:hover{
	color: #fff;
	background: #FF6700;
}
 .search-ts span {
 	font-size: 12px;
 	color: #757575;
 	background: #eee;
 	padding: 3px;
	cursor: pointer;
	transition: all 0.2s;
 }

 .search-ts-wenzi {
 	margin: 0px 10px;
 }
.search-wenben ul{
	width: 244px;
	height: 290px;
	border: 1px solid #ff6700;
	position: absolute;
	box-sizing: border-box;
	top: 48px;
	right: 0.01px;
	background: #fff;
	z-index: 30;
	display: none;
}
.search-wenben ul li{
	width: 100%;
	height: 10%;
	font-size: 14px;
	padding: 3px 20px;
	box-sizing: border-box;
}
.search-wenben ul li:hover{
	background: #e0e0e0;
}
.search-wenben ul li .text-left{
	float: left;
	color: #333;
}
.search-wenben ul li .text-right{
	float: right;
	color: #b0b0b0;
}
.header-nav{
	width: 100%;
	height: 0;
	position: absolute;
	top:139px;
	left: 0;
	z-index: 24;
	border-top: 1px solid #e0e0e0;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.18);
	box-sizing: border-box;
	transition: all 0.3s;
} 
.header-nav .container1{
	width: 1226px;
	height: 0;
	margin: 0 auto;
	position: relative;
}
.header-nav .container1>ul{
	width: 100%;
	height: 0;
	font-size: 12px;
	display: none;
}
.header-nav .container1>ul>li{
	position: relative;
	float: left;
	width: 180px;
	padding: 35px 12px 0;
	text-align: center;
	box-sizing: border-box;
}
.header-nav .container1>ul>li .figure1{
	width: 160px;
	height: 110px;
	margin: 0 auto 16px;
}
.header-nav .container1>ul>li .figure1 img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.header-nav .container1>ul>li .title{
	color: #333;
	line-height: 20px;
}
.header-nav .container1>ul>li .price{
	line-height: 20px;
	color: #ff6700;
}
.shuLine{
	position: absolute;
	right: 0;
	top: 35px;
	z-index: 1;
	width: 1px;
	height: 100px;
	background-color: #e0e0e0;
}
.xinpin1{
	height: 18px;
	padding: 1px 20px;
	border: 1px solid #ff6700;
	color: #ff6700;
	position: absolute;
	top: 0;
	left: 60px;
	z-index: 1;
	font-size: 12px;
	text-align: center;
}
 /* 导航结束 */